<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<title>{{page.title}}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<style type="text/css">
	
body { 
	font-family:Verdana,sans-serif;
}

div {
	margin: 50px;
}

h3 {
	margin-bottom:5px;
}

a {
	text-decoration: none;
	color:#000;
}
a:hover {
	text-decoration: none;
	color:#666;
}

td {
	padding: 0 10px 0 0;
}

	</style>
</head>
<body>
	<div>
	{{content}}
	</div>
</body>
</html>

